<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Formulário de Cadastro</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
   <div class="form-container">
       <h2>Cadastro</h2>
       {% with messages = get_flashed_messages()%}
{% if messages%}
   {% for message in messages%}
   <p>{{message}}</p>
   {%endfor%}
   {%endif%}
   {%endwith%}
  
       <form action="#" method="post">
           <div class="form-group">
               <label for="username">Nome de Usuário:</label>
               <input type="text" name="usernameForm" id="username">
           </div>
           <div class="form-group">
               <label for="email">E-mail:</label>
               <input type="email" name="emailForm" id="email">
           </div>
           <div class="form-group">
               <label for="password">Senha:</label>
               <input type="password" name="passwordForm" id="password">
           </div>
           <button type="submit">Cadastrar</button><br> <br><br>
       </form>
           <button type="submit"><a href="./dados">Verificar</a></button>
   </div>
   <script src="{{ url_for('static', filename='js/style.js') }}"></script>
</body>
</html>
