<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/" method="post">
       <input type="text" name="nomeForm" placeholder="Digite seu nome"> <br>
       <input type="text" name="userForm" placeholder="Digite seu usuário"> <br>
       <input type="text" name="senhaForm" placeholder="Digite sua senha"> <br>
       <input type="submit" value="Enviar">
       <p>{{ error }}</p>
       </form>


</body>
</html>
