<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Exemplo Flash</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style="background-color: yellow; padding: 10px;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/mensagem" method="post">
        <button type="submit">Gerar Flash</button>
    </form>

</body>
</html>